name: PR Checks

on:
  workflow_dispatch:
  push:
    branches:
      - wf
  pull_request:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  #  build:
  #    strategy:
  #      matrix:
  #        os: [ubuntu-latest, windows-latest, macos-latest]
  #    runs-on: ${{ matrix.os }}
  #    steps:
  #      - uses: actions/checkout@v4
  #      - name: Build
  #        run: cargo build --verbose
  #
  #  lint:
  #    runs-on: ubuntu-latest
  #    needs: ["build"]
  #    steps:
  #      - uses: actions/checkout@v4
  #      - name: Run fmt
  #        run: cargo fmt -- --check
  #      - name: Run clippy
  #        run: cargo clippy -- -Dwarnings

  unit-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    #needs: ["lint"]
    steps:
      - uses: actions/checkout@v4

      - name: Run tests on ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: cargo test --verbose

      - name: Run tests on windows
        if: matrix.os == 'windows-latest'
        run: cargo test --lib --verbose -- --skip bindgen_test_layout__azac_empty

      - name: Run tests on macos
        if: matrix.os == 'macos-latest'
        env:
          LD_LIBRARY_PATH: ${{ github.workspace }}/target/debug
          DYLD_LIBRARY_PATH: ${{ github.workspace }}/target/debug
        run: cargo test --lib --verbose

      - name: List FS
        id: list-fs
        run: tree
        
      - name: Add SpeechSDK DLL folder to PATH (windows)
        if: matrix.os == 'windows-latest'
        # https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#adding-a-system-path
        run: |
          $speechSdkDir=Get-ChildItem -Path ./target/debug/build -Recurse -Directory -Filter sdk_output| Select-Object -ExpandProperty FullName
          $speechSdkDLLFolder="$speechSdkDir\runtimes\win-x64\native"
          echo $speechSdkDLLFolder
          echo $speechSdkDLLFolder | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Add SpeechSDK DLL folder to PATH (ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          speechSdkDir=$(find ./target/debug/build -type d -name "sdk_output")
          speechSdkDLLFolder="$speechSdkDir/linux/SpeechSDK-Linux-1.37.0/lib/x64"
          echo $speechSdkDLLFolder
          ls -la $speechSdkDLLFolder
          echo $speechSdkDLLFolder >> $GITHUB_PATH

      - name: Add SpeechSDK DLL folder to PATH (mac)
        if: matrix.os == 'macos-latest'
        run: |
          speechSdkDir=$(find ./target/debug/build -type d -name "sdk_output")
          speechSdkDLLFolder="$speechSdkDir/MicrosoftCognitiveServicesSpeech.xcframework/macos-arm64_x86_64"
          echo $speechSdkDLLFolder
          ls -la $speechSdkDLLFolder
          echo $speechSdkDLLFolder >> $GITHUB_PATH

      - name: Run integration tests on windows
        if: matrix.os == 'windows-latest'
        run: |
          echo $env:Path
          cargo test --test integration_test

      - name: Run integration tests on ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          echo $PATH
          cargo test --test integration_test

      - name: Run integration tests on ubuntu
        if: matrix.os == 'macos-latest'
        run: |
          echo $PATH
          export DYLD_FALLBACK_FRAMEWORK_PATH="$speechSdkDLLFolder"
          cargo test --test integration_test